<!DOCTYPE html>
<!--[if lt IE 7 ]> <html class="no-js ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="no-js ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="no-js ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
%head
  %title Upload Tester
  %meta{ :charset => 'utf-8' }
  = stylesheet_link_tag "application"
  = javascript_include_tag "application"
  = favicon_link_tag 'favicon.ico'
  = csrf_meta_tags
%body
  #container
    #flash
      - flash.each do |key, value|
        %span{ :class => key }= value
    = yield

</html>
